.drivers-page {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2%;
  flex-direction: column;
  justify-self: center;
  width: 50%;
}

#table {
  margin-top: 2%;
  width: 100%
}